  <div class="row">
    <div class="container text-center bg-light p-4">
      <h1 class="display-2 text-center p-2">Leagues</h1>
    </div> 
  </div>

<div class="card-container">

  <div style="width:100%" class="league-card">
    <a href="/leagues/2001"><img class="card-img" src="https://upload.wikimedia.org/wikipedia/en/b/bf/UEFA_Champions_League_logo_2.svg"></a>      
    <h1 class="card-heading">Champions League</h1>
    <p>Europe</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2021"><img class="card-img" src="assets/logo_pl.png"></a>      
    <h1 class="card-heading">Premier League</h1>
    <p>England</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2014"><img class="card-img" src="assets/logo_pd.png"></a>      
    <h1 class="card-heading">Primera Division</h1>
    <p>Spain</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2019"><img class="card-img" src="assets/serieA_logo.jpg"></a>      
    <h1 class="card-heading">Serie A</h1>
    <p>Italy</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2002"><img class="card-img" src="assets/logo_bd.png"></a>      
    <h1 class="card-heading">Bundesliga</h1>

    <p>Germany</p>
  </div>

 <div class="league-card">
    <a href="/leagues/2015"><img class="card-img" src="assets/ligue1_logo.png"></a>      
    <h1 class="card-heading">Ligue 1</h1>
    <p>France</p>
  </div>


</div>