  <div class="row">
    <div class="container text-center bg-light p-4">
      <h1 class="display-2 text-center p-2">Leagues</h1>
    </div> 
  </div>


<div class="container p-4">
  <div class="row">
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2001">
      <div class="card">
        <div class="card-body bg-light p-0">
         <img class="card-img img-fluid" src="https://upload.wikimedia.org/wikipedia/en/b/bf/UEFA_Champions_League_logo_2.svg">      
          <div class="card-title text-center p-2">
            <strong>CHAMPIONS<br>LEAGUE</strong>
            <div class="card-text bg-light">
              Europe
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2021">
      <div class="card">
        <div class="card-body bg-light p-0">
          <img class="card-img img-fluid" src="assets/logo_pl.png">            
          <div class="card-title text-center p-2">
            <strong>PREMIER<br>LEAGUE</strong>
            <div class="card-text bg-light">
              England
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2014">
      <div class="card">
        <div class="card-body bg-light p-0">
         <img class="card-img img-fluid" src="assets/logo_pd.png">          
          <div class="card-title text-center p-2">
            <strong>PRIMERA<br>DIVISION</strong>
            <div class="card-text bg-light">
              Spain
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2019">
      <div class="card">
        <div class="card-body bg-light p-0">
         <img class="card-img img-fluid" src="assets/logo_sa.png">          
          <div class="card-title text-center p-2">
            <strong>SERIE<br>A</strong>
            <div class="card-text bg-light">
              Italy
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2002">
      <div class="card">
        <div class="card-body bg-light p-0">
         <img class="card-img img-fluid" src="assets/logo_bd.png">          
          <div class="card-title text-center p-2">
            <strong>BUNDESLIGA<br><br></strong>
            <div class="card-text bg-light">
              Germany
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2015">
      <div class="card">
        <div class="card-body bg-light p-0">
         <img class="card-img img-fluid" src="assets/logo_l1.png">          
          <div class="card-title text-center p-2">
            <strong>LIGUE<br>1</strong>
            <div class="card-text bg-light">
              France
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>
