<h1 class="display-2 text-center">Leagues Index</h1>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2001">
      <div class="card">
        <div class="card-block bg-light p-0">
         <img class="card-img-top border-bottom" src="#">      
          <div class="card-title text-center p-2">
            <strong>CHAMPIONS<br>LEAGUE</strong>
            <div class="card-text bg-light">
              Europe
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2021">
      <div class="card">
        <div class="card-block bg-light p-0">
          <img class="card-img-top border-bottom" src="#">            
          <div class="card-title text-center p-2">
            <strong>PREMIER<br>LEAGUE</strong>
            <div class="card-text bg-light">
              England
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2014">
      <div class="card">
        <div class="card-block bg-light p-0">
         <img class="card-img-top border-bottom" src="#">          
          <div class="card-title text-center p-2">
            <strong>PRIMERA<br>DIVISION</strong>
            <div class="card-text bg-light">
              Spain
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2019">
      <div class="card">
        <div class="card-block bg-light p-0">
         <img class="card-img-top border-bottom" src="#">          
          <div class="card-title text-center p-2">
            <strong>SERIE<br>A</strong>
            <div class="card-text bg-light">
              Italy
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2002">
      <div class="card">
        <div class="card-block bg-light p-0">
         <img class="card-img-top border-bottom" src="#">          
          <div class="card-title text-center p-2">
            <strong>BUNDESLIGA<br><br></strong>
            <div class="card-text bg-light">
              Germany
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-md-2 col-sm-6 col-6">
      <a href="/leagues/2015">
      <div class="card">
        <div class="card-block bg-light p-0">
         <img class="card-img-top border-bottom" src="#">          
          <div class="card-title text-center p-2">
            <strong>LIGUE<br>1</strong>
            <div class="card-text bg-light">
              France
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>