  <div class="row">
    <div class="container text-center bg-light p-4">
      <h1 class="display-2 text-center p-2">Leagues</h1>
    </div> 
  </div>

<div class="card-container">

  <div class="league-card">
    <a href="/leagues/2001"><img class="card-img" src="assets/logo_cl.png"></a>      
    <h1 class="card-heading">Champions League</h1>
    <p class="card-text">Europe</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2021"><img class="card-img" src="assets/logo_pl.png"></a>      
    <h1 class="card-heading">Premier League</h1>
    <p class="card-text">England</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2014"><img class="card-img" src="assets/logo_pd.png"></a>      
    <h1 class="card-heading">Primera Division</h1>
    <p class="card-text">Spain</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2019"><img class="card-img" src="assets/serieA_logo.jpg"></a>      
    <h1 class="card-heading">Serie A</h1>
    <p class="card-text">Italy</p>
  </div>

   <div class="league-card">
    <a href="/leagues/2002"><img class="card-img" src="assets/logo_bd.png"></a>      
    <h1 class="card-heading">Bundesliga</h1>
    <p class="card-text">Germany</p>
  </div>

 <div class="league-card">
    <a href="/leagues/2015"><img class="card-img" src="assets/ligue1_logo.png"></a>      
    <h1 class="card-heading">Ligue 1</h1>
    <p class="card-text">France</p>
  </div>
</div>