

<h1>SEE NEXT MATCHES</h1>

<div class="league-list-home">
  <form action="#" method="get">
    <input type="hidden" name="leagueID" value="2001">
    <input class="big_button league-button" type="submit" value=" UEFA Champions League">
  </form>
  <form action="#" method="get">
    <input type="hidden" name="leagueID" value="2021">
    <input class="big_button league-button" type="submit" value="English Premier League">
  </form>
  <form action="#" method="get">
    <input type="hidden" name="leagueID" value="2014">
    <input class="big_button league-button" type="submit" value="Spanish La Liga">
  </form>
  <form action="#" method="get">
    <input type="hidden" name="leagueID" value="2019">
    <input class="big_button league-button" type="submit" value="Italian Seria A">
  </form>
  <form action="#" method="get">
    <input type="hidden" name="leagueID" value="2002">
    <input class="big_button league-button" type="submit" value="German Bundesliga">
  </form>
  <form action="#" method="get">
    <input type="hidden" name="leagueID" value="2015">
    <input class="big_button league-button" type="submit" value="French Ligue 1">
  </form>
</div>



<div class="scheduled-matches">

</div>
