<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">UEFA Schedules</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/today">Today's Matches</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Leagues
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/leagues"><strong>ALL</strong></a>
            <a class="dropdown-item" href="/leagues/2001">UEFA Champions League</a>
            <a class="dropdown-item" href="/leagues/2021">English Premier League</a>
            <a class="dropdown-item" href="/leagues/2014">Spanish Primera Division</a>
            <a class="dropdown-item" href="/leagues/2019">Italian Serie A</a>
            <a class="dropdown-item" href="/leagues/2002">German Bundesliga</a>
            <a class="dropdown-item" href="/leagues/2015">French Ligue 1</a>
            
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Top Teams
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/teams/81">Barcelona</a>
            <a class="dropdown-item" href="/teams/86">Real Madrid</a>
            <a class="dropdown-item" href="/teams/66">Manchester United</a>
            <a class="dropdown-item" href="/teams/5">Bayern Munich</a>
            <a class="dropdown-item" href="/teams/109">Juventus</a>
            <a class="dropdown-item" href="/teams/524">PSG</a>
            <a class="dropdown-item" href="/teams/65">Manchester City</a>
            <a class="dropdown-item" href="/teams/78">Atletico Madrid</a>
            <a class="dropdown-item" href="/teams/64">Liverpool</a>
            <a class="dropdown-item" href="/teams/100">Roma</a>
            <a class="dropdown-item" href="/teams/503">Porto</a>
            <a class="dropdown-item" href="/teams/548">Monaco</a>
            <a class="dropdown-item" href="/teams/108">Inter Milan</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/reviews">Rate This App!</a>
        </li>
    </nav>